:root {
    --black-1: #000000;
    --gray-1: #808080; 
    --gray-2: #f2f2f2;
    --gray-3: #c9c9c9;
    --gray-4: #d9d9d992;
    --gray-5: #fbfbfb;
    --blue-1: #639dbe;
    --blue-2: #76b7dc32;
    --blue-3: #003194;
    --red-1: #F4001F;
    --red-2: #FD3852;
    --green-1: #2E9395;
    --green-2: #1E9B2D;
    --green-3: #19382D;
    --green-4: #3E9237;
    --green-5: #56ff46;
    --green-6: #9bfa93;
    --yellow-1: #F7DA00;
    --yellow-2: #726500;
    --orange-1: #F6A909;
    --trans-1: 0.8s;
    --radius-1: 30px;
    --radius-2: 10px;
}

body {
    font-family: 'Jost', 'Arial', sans-serif;
}

h1 {
    font-size: 30px;
    user-select: none;
}


/*
TODO trocar por componente
*/
.bButton {
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 15px;
    border: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.bButton:hover:not(:disabled) {
    transition: 0.3s;
    filter: brightness(1.5);
}

.v-calendar-weekly__day-alldayevents-container {
    cursor: pointer;
    user-select: none;
}
